<p-menu #menu [model]="items" [popup]="true" appendTo="body">
  <ng-template pTemplate="submenuheader" let-item>
    <span class="font-bold">{{ item.label }}</span>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a
      pRipple
      class="flex align-items-center p-menuitem-link"
      (click)="item.callback()"
    >
      <span class="material-icons">{{ item.icon }}</span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>
</p-menu>
<p-button
  (onClick)="menu.toggle($event)"
  icon="pi pi-ellipsis-v"
  severity="contrast"
/>
