<div class="flex flex-column pt-2">
  <!-- Title bar -->
  <div class="flex justify-content-between align-items-center mt-4 mb-3">
    <p class="text-3xl text-800 m-0">Orders</p>
  </div>

  <!-- Filters -->
  @if ((filters$ | async)?.filterParams; as filters) {
    <smt-orders-filter
      [isVisible]="displayFilters"
      (onClose)="displayFilters = false"
      (onFilter)="handleFilter($event)"
    />
  }

  <!-- Order details -->
  @if (orderDetailsId) {
    <smt-orders-details
      [orderId]="orderDetailsId"
      (onClose)="handleCloseDetails()"
    />
  }

  <!-- Data visualization -->
  <p-card>
    @if (orders$ | async; as orders) {
      <p-dataView #dv [value]="orders.data?.content ?? []" [layout]="'list'">
        <ng-template pTemplate="header">
          <smt-orders-toolbar
            [filterCounter]="(filterCounter$ | async) ?? 0"
            (onDisplayFilters)="displayFilters = true"
            (onSearch)="handleSearch($event)"
          />
        </ng-template>

        <!-- Table view -->
        <ng-template pTemplate="list" let-packages>
          @if (orders.loading) {
            <smt-agency-packages-table-skeleton />
          } @else if (orders.error) {
            <smt-not-found type="error" />
          } @else if (orders.data) {
            <div class="grid grid-nogutter">
              <div class="w-full px-2">
                <smt-orders-table
                  [pageSize]="pageSize"
                  [orders]="orders.data.content"
                  [totalElements]="orders.data.totalElements"
                  [currentPage]="orders.data.currentPage"
                  (onViewDetails)="handleViewDetails($event)"
                  (onViewPackageDetails)="handleViewPackageDetails($event)"
                  (onPageChange)="handlePageChange($event)"
                />
              </div>
            </div>
          }
        </ng-template>
      </p-dataView>
    }
  </p-card>
</div>
