<!-- Quick actions -->
<smt-quick-actions-bar (onNavigateBack)="handleNavigateBack()" />

@if (agencyPackageDetails$ | async; as packageDetails) {
  @if (packageDetails.loading) {
    <p>Loading...</p>
  } @else if (packageDetails.error) {
    <smt-not-found type="error" />
  } @else if (packageDetails.data) {
    <smt-agency-package-details-card
      [agencyPackage]="packageDetails.data"
      [isAgentView]="(isAgentView$ | async) ?? false"
      (onCheckout)="handleCheckout($event)"
    />
  }
}
