<form class="formgrid grid" (ngSubmit)="submit()" [formGroup]="packageForm">
  <!-- Departure location -->
  <div class="field col-6 flex flex-column">
    <label for="from">Departure</label>
    <p-autoComplete
      formControlName="from"
      name="from"
      showClear="true"
      [suggestions]="fromSuggestions"
      (completeMethod)="onSearchFrom($event)"
      optionLabel="name"
      inputStyleClass="w-full"
      styleClass="w-full"
      [ngClass]="
        f['from'].touched && (f['from'].invalid || isFromInvalid())
          ? 'ng-invalid ng-dirty'
          : ''
      "
    >
      <ng-template let-dest pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span class="material-icons">
            @if (dest.type === "city") {
              location_city
            }
            @if (dest.type === "region") {
              landscape
            }
            @if (dest.type === "country") {
              south_america
            }
          </span>
          <div>{{ dest.name + " (" + dest.type + ")" }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
    <small class="p-error" *ngIf="f['from'].invalid && f['from'].touched">
      Departure is required
    </small>
    <small
      class="p-error"
      *ngIf="f['from'].touched && !f['from'].invalid && isFromInvalid()"
    >
      Please choose a valid departure city
    </small>
  </div>

  <!-- Destination location -->
  <div class="field col-6 flex flex-column">
    <label for="to">Destination</label>
    <p-autoComplete
      formControlName="to"
      name="to"
      showClear="true"
      [suggestions]="toSuggestions"
      (completeMethod)="onSearchTo($event)"
      optionLabel="name"
      inputStyleClass="w-full"
      styleClass="w-full"
      [ngClass]="
        f['to'].touched && (f['to'].invalid || isToInvalid())
          ? 'ng-invalid ng-dirty'
          : ''
      "
    >
      <ng-template let-dest pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span class="material-icons">
            @if (dest.type === "city") {
              location_city
            }
            @if (dest.type === "region") {
              landscape
            }
            @if (dest.type === "country") {
              south_america
            }
          </span>
          <div>{{ dest.name + " (" + dest.type + ")" }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
    <small class="p-error" *ngIf="f['to'].invalid && f['to'].touched">
      Destination is required
    </small>
    <small
      class="p-error"
      *ngIf="f['to'].touched && !f['to'].invalid && isToInvalid()"
    >
      Please choose a valid destination city
    </small>
  </div>

  <!-- Date range calendar -->
  <div class="field col-6 flex flex-column">
    <label for="dates">Dates</label>
    <p-calendar
      formControlName="dates"
      name="dates"
      inputId="dates"
      selectionMode="range"
      [iconDisplay]="'input'"
      [showIcon]="true"
      [minDate]="today"
      [readonlyInput]="true"
      dateFormat="dd/mm/yy"
      styleClass="w-full"
      [firstDayOfWeek]="1"
      [ngClass]="
        packageForm.controls['dates'].touched &&
        packageForm.controls['dates'].invalid
          ? 'ng-invalid ng-dirty'
          : ''
      "
    >
      <ng-template pTemplate="inputicon">
        <i class="material-icons pointer-events-none"> event </i>
      </ng-template>
    </p-calendar>
    <small
      class="p-error"
      *ngIf="
        packageForm.controls['dates'].invalid &&
        packageForm.controls['dates'].touched
      "
    >
      Departure and return dates are required
    </small>
  </div>

  <!-- People -->
  <div class="field col-6 flex flex-column">
    <label for="quantity">Number of people</label>
    <p-dropdown
      formControlName="quantity"
      [options]="peopleOptions"
      optionLabel="label"
      placeholder="People count"
      styleClass="w-full"
      [ngClass]="
        f['quantity'].touched && f['quantity'].invalid
          ? 'ng-invalid ng-dirty'
          : ''
      "
    />
    <small
      class="p-error"
      *ngIf="f['quantity'].invalid && f['quantity'].touched"
    >
      Number of people is required
    </small>
  </div>

  <!-- Checkboxes -->
  <div class="field col-12 flex flex-column">
    <label>What do you need?</label>
    <div class="flex gap-4 my-1">
      <p-checkbox
        formControlName="selectedOptions"
        inputId="flightCbx"
        label="Flight"
        value="flight"
        [ngClass]="
          packageForm.errors?.['twoOptionsRequired']
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
      <p-checkbox
        formControlName="selectedOptions"
        inputId="accommodationCbx"
        label="Stay"
        value="stay"
        [ngClass]="
          packageForm.errors?.['twoOptionsRequired']
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
      <p-checkbox
        formControlName="selectedOptions"
        inputId="activityCbx"
        label="Activity"
        value="activity"
        [ngClass]="
          packageForm.errors?.['twoOptionsRequired']
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
    </div>
    <small class="p-error" *ngIf="packageForm.errors?.['twoOptionsRequired']">
      Please select at least two options
    </small>
  </div>

  <!-- Search button -->
  <div class="col-12 text-right">
    @if (!disableAgencyPackageView) {
      <button
        pButton
        pRipple
        [outlined]="true"
        severity="secondary"
        label="Back"
        class="mr-2"
        (click)="handleAgencyPackage()"
      >
        <span class="material-icons mr-1">arrow_back</span>
      </button>
    }
    <button
      pButton
      pRipple
      type="submit"
      label="Search"
      [disabled]="isFormInvalid()"
    >
      <span class="material-icons mr-1">search</span>
    </button>
  </div>
</form>
