<p-accordion class="flight-review">
  <p-accordionTab>
    <!-- Flight overview -->
    <ng-template pTemplate="header">
      <div class="grid align-items-center gap-0 w-full">
        <!-- Airline image -->
        <div
          class="col-2 text-center"
          [pTooltip]="flight.airline"
          tooltipPosition="top"
        >
          <p-avatar
            [image]="flight.airlineLogo"
            shape="square"
            class="mr-1"
            size="xlarge"
          />
        </div>
        <div class="col-2 flex flex-column">
          <!-- Departure time -->
          <span class="mb-1 text-right">
            {{
              flight.departureTime
                | date: "HH:mm" : dateUtils.getUtcOffset(flight.from.timezone)
            }}
          </span>
          <span class="text-color text-right">{{ flight.from.city }}</span>
        </div>
        <!-- Flight duration -->
        <div class="col-3 flex flex-column justify-content-center">
          <span class="text-center">
            {{
              dateUtils.getFlightDuration(
                flight.departureTime,
                flight.arrivalTime
              )
            }}
          </span>
          <p-divider styleClass="m-0 py-1" />
          <span class="text-center text-color"> Direct </span>
        </div>
        <!-- Arrival time -->
        <div class="col-2 flex flex-column">
          <span class="mb-1 text-left">
            {{
              flight.arrivalTime
                | date: "HH:mm" : dateUtils.getUtcOffset(flight.to.timezone)
            }}
          </span>
          <span class="text-color text-left">{{ flight.to.city }}</span>
        </div>

        <!-- Price -->
        <div class="col text-center flex flex-column">
          <span>
            {{ flight.price.value | currency: flight.price.currency }}
          </span>
        </div>
        <div class="col-2 text-center">
          @if (!hideAction) {
            <button
              pButton
              pRipple
              severity="warning"
              (click)="handleEditFlight($event, flight)"
            >
              <span class="material-icons">edit</span>
            </button>
          }
        </div>
      </div>
    </ng-template>

    <!-- Flight details -->
    <smt-flight-details [flight]="flight" />
  </p-accordionTab>
</p-accordion>
